<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
		<typeAlias alias="userInfoVo" type="org.gonetbar.ssa.entity.UserInfoVo" />
		<typeAlias alias="userProviderInfoVo" type="org.gonetbar.ssa.entity.UserProviderInfoVo" />
		
		<!-- import sso-acl -->
		<typeAlias alias="aclUserVo" type="com.godtips.sso.acl.entity.AclUserVo" />
		<typeAlias alias="matcherInfo" type="com.godtips.sso.acl.entity.MatcherInfo" />
		<typeAlias alias="dbRoleAttribute" type="com.godtips.sso.acl.entity.DbRoleAttribute" />
		<typeAlias alias="aclGrantedAuthority" type="com.godtips.sso.acl.entity.AclGrantedAuthority" />
		
	</typeAliases>

	<mappers>
		<mapper resource="mapper/orm/mybatis/UserInfoVoMapper.xml" />
		
		<mapper resource="db/mybatis/acl/MatcherInfoMapper.xml" />
	</mappers>

</configuration>
