<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="KarmaModel">

	<insert id="add" parameterType="karma">
		INSERT INTO jforum_karma (post_id, post_user_id, from_user_id, points, topic_id, rate_date) 
			VALUES (#{postId}, #{postUserId}, #{fromUserId}, #{points}, #{topicId}, #{rateDate})
	</insert>

	<select id="getUserKarma" parameterType="int" resultType="double">
		SELECT user_karma FROM jforum_users WHERE user_id = #{userId}
	</select>
	
	<select id="getUserKarmaPoints" resultMap="hashmap">
		SELECT SUM(points) AS points, COUNT(1) AS votes, from_user_id 
			FROM jforum_karma WHERE post_user_id = #{userId} GROUP BY from_user_id
	</select>
	
	<update id="updateUserKarma" parameterType="hashmap">
		UPDATE jforum_users SET user_karma = #{karmaPoints} WHERE user_id = #{userId}
	</update>
	
	<update id="update" parameterType="karma">
		UPDATE jforum_karma SET points = #{points} WHERE karma_id = #{id}
	</update>
	
	<select id="getPostKarma" parameterType="int" resultType="double">
		SELECT SUM(points) / COUNT(post_id) AS points FROM jforum_karma WHERE post_id = #{postId}
	</select>
	
	<select id="userCanAddKarma" parameterType="hashmap" resultType="int">
		SELECT COUNT(1) FROM jforum_karma WHERE post_id = #{postId} AND from_user_id = #{userId}
	</select>
	
	<select id="getUserVotes" parameterType="hashmao" resultType="hashmap">
		SELECT points, post_id FROM jforum_karma WHERE topic_id = #{topicId} AND from_user_id = #{userId}	
	</select>
	
	<select id="getUserTotalVotes" parameterType="user" resultType="hashmap">
		SELECT SUM(points) AS points, COUNT(post_id) AS votes FROM jforum_karma WHERE post_user_id = #{user.id}
	</select>
	
	<select id="getUserGivenVotes" resultType="int">
		SELECT COUNT(post_id) AS votes FROM jforum_karma WHERE from_user_id = ?
	</select>
	
	<select id="">
		KarmaModel.getMostRatedUserByPeriod = SELECT u.user_id, u.username, SUM(points) AS total, 
		  COUNT(post_user_id) AS votes_received, user_karma, 
		  -1 AS given 
		  FROM jforum_users u, jforum_karma k 
		  WHERE u.user_id = k.post_user_id 
		  AND k.rate_date BETWEEN #{firstPeriod} AND #{lastPeriod} 
		  GROUP BY u.user_id, u.username, user_karma 
		  ORDER BY ${orderField} DESC
	</select>
	
</mapper>