/* Global properties */
body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #5c5c5c
}

a[href^="http:"] {
    background-image: url("");
    padding-right: 0px;
}

section#content {
	/*
	width: 739px;
	*/
	float: left
}

.box {
	/*
	background: url(../images/border-top.gif) repeat-x left top #f7f7f7;
	*/
	background: url() repeat-x left top #f7f7f7;
	width: 100%
}

#my_span {
	 margin: 0 0 10px;
}

#my_span ul{
    margin-left: 0em;
}
#my_span ul li {
    border-bottom: 1px dashed #DDDDDD;
    list-style-type:none;
	line-height: 1.538em;
	padding: 5px 0 5px;
}

#my_span ul li .portrait {
    float: left;
    padding-top: 3px;
    width: 45px;
}
#my_span ul li .portrait img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 32px;
    padding: 1px;
    width: 32px;
}

#my_span ul li .body {
    font-size: 9pt;
    overflow: hidden;
    width: 230px;
}

#my_span ul li .user a {
    color: #6CABE1;
}

#my_span ul li .time {
    color: #9A9A9A;
    display: block;
    margin: 5px 0 0;
}
#my_span ul li .time a {
    color: #9A9A9A;
    text-decoration: none;
}
#my_span ul li .time a:hover {
    color: #6CABE1;
}

#my_span a.more {
    color: #AA0000;
    float: right;
    margin: 5px 8px 8px 0;
}
