<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<typeAliases>
	<!-- 
	com.godtips.mybatis.handler.BooleanToIntTypeHandler
	 -->
	 	<typeAlias alias="booleanToIntHandler" type="com.godtips.mybatis.handler.BooleanToIntTypeHandler"/> 
		
		<typeAlias alias="banlist" type="net.jforum.entities.Banlist" />
		<typeAlias alias="banner" type="net.jforum.entities.Banner" />
	</typeAliases>

	<mappers>
		<mapper resource="xml/ApiModelMapper.xml"/>
		<mapper resource="xml/BanlistModelMapper.xml"/>
		<mapper resource="xml/BannerModelMapper.xml"/>
	</mappers>
</configuration>
