<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	
	<typeAliases>
	
	 	<typeAlias alias="booleanToIntHandler" type="com.godtips.mybatis.handler.BooleanToIntTypeHandler"/> 
		
		<typeAlias alias="banlist" type="net.jforum.entities.Banlist" />
		<typeAlias alias="banner" type="net.jforum.entities.Banner" />
		<typeAlias alias="quotaLimit" type="net.jforum.entities.QuotaLimit" />
		<typeAlias alias="attachmentExtensionGroup" type="net.jforum.entities.AttachmentExtensionGroup" />
		<typeAlias alias="attachmentExtension" type="net.jforum.entities.AttachmentExtension" />
		<typeAlias alias="attachment" type="net.jforum.entities.Attachment" />
		<typeAlias alias="attachmentInfo" type="net.jforum.entities.AttachmentInfo" />
		<typeAlias alias="bookmark" type="net.jforum.entities.Bookmark" />
		<typeAlias alias="category" type="net.jforum.entities.Category" />
		<typeAlias alias="config" type="net.jforum.entities.Config" />
		<typeAlias alias="group" type="net.jforum.entities.Group" />
		<typeAlias alias="karma" type="net.jforum.entities.Karma" />
		<typeAlias alias="user" type="net.jforum.entities.User" />
		<typeAlias alias="mailIntegration" type="net.jforum.entities.MailIntegration" />
		<typeAlias alias="poll" type="net.jforum.entities.Poll" />
		<typeAlias alias="pollOption" type="net.jforum.entities.PollOption" />
		<typeAlias alias="moderationLog" type="net.jforum.entities.ModerationLog" />
		<typeAlias alias="userSession" type="net.jforum.entities.UserSession" />
	</typeAliases>

	<mappers>
		<mapper resource="xml/ApiModelMapper.xml"/>
		<mapper resource="xml/BanlistModelMapper.xml"/>
		<mapper resource="xml/BannerModelMapper.xml"/>
		<mapper resource="xml/AttachmentModelMapper.xml"/>
		<mapper resource="xml/BookmarkModelMapper.xml"/>
		<mapper resource="xml/CategoryModelMapper.xml"/>
		<mapper resource="xml/ConfigModelMapper.xml"/>
		<mapper resource="xml/GroupModelMapper.xml"/>
		<mapper resource="xml/KarmaModelMapper.xml"/>
		<mapper resource="xml/SearchModelMapper.xml"/>
		<mapper resource="xml/MailIntegrationModelMapper.xml"/>
	</mappers>
</configuration>
