<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<description>
		Security configuration for client
	</description>

	<bean id="securityMetadataSourceDao" class="com.godtips.sso.acl.dao.impl.SecurityMetadataSourceDaoImpl" autowire="byName"/>

	<bean id="securityMetadataSourceService" class="com.godtips.sso.acl.service.impl.SecurityMetadataSourceServiceImpl">
		<property name="securityMetadataSourceDao" ref="securityMetadataSourceDao"/>
	</bean>


	<!-- As of Spring SEC 3.1 -->
	<!-- 一个自定义的filter，必须包含authenticationManager,accessDecisionManager,securityMetadataSource三个属性， -->
	<!-- 认证管理器，实现用户认证的入口 -->
	<!-- 访问决策器，决定某个用户具有的角色，是否有足够的权限去访问某个资源 -->
	<!-- 资源源数据定义，即定义某一资源可以被哪些角色访问 -->
	<!-- 默认也是false -->
	<!-- <bean id="ssaFilter" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor"> -->
	<bean id="myAclFilter" class="com.godtips.sso.acl.interceptor.AclFilterSecurityInterceptor">
		<property name="authenticationManager" ref="defAuthenticationManager" />
		<property name="accessDecisionManager" ref="myAclAccessDecisionManager" />
		<property name="securityMetadataSource" ref="myAclFilterInvocationSecurityMetadataSource" />
		<property name="rejectPublicInvocations" value="true" />
	</bean>

	<!-- 认证管理器提供者 【user-service-ref】引用的服务组件，通过securityManager进行对用户信息的认证 -->
	<!-- <authentication-manager alias="myAclAuthenticationManager"> <authentication-provider user-service-ref="userDetailsService"/> </authentication-manager> -->
	<!-- 访问决策器，决定某个用户具有的角色，是否有足够的权限去访问某个资源 以后可以自己定义 -->
	<!-- <bean id="ssaAccessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased"> -->
	<bean id="myAclAccessDecisionManager" class="com.godtips.sso.acl.vote.AclAccessDecisionManager">
		<property name="allowIfAllAbstainDecisions" value="false" />
		<property name="decisionVoters">
			<list>
				<bean class="com.godtips.sso.acl.entity.DbRoleVoter" />
				<bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
			</list>
		</property>
	</bean>

	<!-- 资源源数据定义，即定义某一资源可以被哪些角色访问 -->
	<bean id="myAclFilterInvocationSecurityMetadataSource" class="com.godtips.sso.acl.intercept.AclFilterInvocationSecurityMetadataSource">
		<property name="systemid" value="${subsysid}"/>
		<property name="securityMetadataSourceService" ref="securityMetadataSourceService"/>
	</bean>
	
	<bean id="aclCacheManager" class="com.godtips.sso.acl.cache.AclCacheManager">
		<property name="cacheManager" ref="cacheManager"/>
	</bean>

</beans>