body,p,b,dl,dd,table,td,th,input,button,textarea,xmp,pre,img,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6
	{
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.14 Arial;
	background: #F5F5F8
		url(http://s1.hao123img.com/index/images/body_bg.png) repeat-x 0 27px;
}

a {
	color: #1C1C1C;
	text-decoration: none;
}

a:hover {
	color: #f30;
	text-decoration: underline;
}

b {
	font-size: 0;
	display: block;
	overflow: hidden;
	-moz-user-select: none;
}

b.space {
	display: inline-block;
	_display: inline;
	zoom: 1;
	height: 13px;
	width: 0;
	position: relative;
	top: 2px;
	border-left: 1px solid #999;
}

.span-rows {
	letter-spacing: -.3em;
	*letter-spacing: normal;
	word-spacing: -.5em;
}

.span-rows span {
	display: inline-block;
	_display: inline;
	zoom: 1;
	vertical-align: top;
	letter-spacing: normal;
}

.span-rows span a {
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: baseline;
}

.box-bottom {
	width: 960px;
	margin: 0 auto;
}

.box-tools {
	margin-top: 10px;
	border: 1px solid #CBE6BD;
	padding: 2px;
	background: #ECF5E8;
	overflow: hidden;
	height: 82px;
	position: relative;
}

.box-tools_content {
	white-space: nowrap;
	line-height: 26px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #F9FEF4;
}

.box-tools_content li {
	overflow: hidden;
	position: relative;
	zoom: 1;
}

.box-tools_content span {
	margin-right: 18px;
}

span.box-tools_title {
	float: left;
	overflow: hidden;
	margin-left: 15px;
	margin-right: 3px;
	_margin-right: -3px;
	width: 60px;
}

.box-tools_content a {
	color: #1C1C1C;
}

.box-tools_content a:hover {
	color: #f30;
	text-decoration: underline;
}

.box-tools_title a {
	color: #205001;
	font-weight: bold;
}

.box-tools_content .box-tools_more {
	position: absolute;
	top: 0;
	right: 6px;
	margin: 0;
}

.box-tools_more a {
	color: #666;
	font-family: \5B8B\4F53;
}

.l-footer {
	text-align: center;
	font-size: 12px;
	padding-top: 20px;
}


.box-about span {
	padding: 0 9px;
}

.box-about b {
	top: 0;
}

span.box-about_first {
	border: none;
}

.i-papers {
	background-position: 0 -131px;
}

.box-copyright {
	margin-top: 10px;
	_margin-top: 12px;
	margin-bottom: 10px;
	line-height: 16px;
}

.box-copyright span {
	margin: 0 14px;
}

.box-copyright .i-papers {
	left: 3px;
	top: -1px;
	vertical-align: top;
	_vertical-align: baseline;
}

.box-copyright a,.box-copyright a:hover,.box-about a,.box-about a:hover
	{
	color: #1C1C1C;
}

.box-tools_title a {
	color: #498949;
}